<h1 mat-dialog-title>
    Member Certificates</h1>
<hr>
<div mat-dialog-content>
    <div class="table-responsive">
        <table id="example2" class="table table-bordered table-hover">
            <thead class="tbl-head">
                <tr class="tr-grid-header">
                    <th class="text-center">Voucher Id</th>
                    <th class="text-center">Certificate#</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of certificatesList">
                    <td class="text-center">{{item.VoucherId}}</td>
                    <td class="text-center">{{item.CertificateId}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-raised-button class="add-dark-hover btn-default" (click)="close()">Close</button>
</mat-dialog-actions>