.newMarginClass {
    margin-top: 7px!important;
}
.fa-file-text-o {
    color:red;
}
.fa-plus {
    color: green;
}
.CaseNumberMinWidth {
    min-width: 110px!important;
}
.DOSMinWidth {
    min-width: 120px!important;
}
.ActionsMinWidth {
    min-width: 100px!important;
}
.MOPMinWidth {
    min-width: 135px!important;
}
.AppointmentCodeMinWidth {
    min-width: 300px!important;
}
.PatientMinWidth {
    min-width: 122px!important;
}