.NewHeader {
    text-align: center;
    color: white;
    background: #286ba5;
    margin-left: -24px;
    margin-top: -24px;
    margin-right: -24px;
    padding-top: 11px;
    padding-bottom: 1px;
    margin-bottom: 20px;
}

.CancelClass {
    background:#f44336 !important;
    color: white !important;
}
