<div class="row wrap" style="margin-bottom:7px;">
    <div class="col-sm-8">
      <div class="pills w-100 flex-p">
        <ul class="nav nav-pills">
          <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/sapphire/admin/availabilitycalendar/timings']"><mat-icon>highlight</mat-icon> Timings</a></li>
          <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/sapphire/admin/availabilitycalendar/holidays']"><mat-icon>schedule</mat-icon> Holidays</a></li>
          <li routerLinkActive="active"><a mat-raised-button [routerLink]="['/sapphire/admin/availabilitycalendar/specialcase']"><mat-icon>post_add</mat-icon> Special Case</a></li>
        </ul>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="w-100 flex-p">
      </div>
    </div>
  </div>