<div fxLayout="row wrap" #resizedDiv>
  <div class="flex-p w-100">
    
      <app-master></app-master>
    
    <div class="row" style="margin-bottom:14px;">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="w-100 flex-p">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="w-100 flex-p">
          <!-- <button mat-raised-button class="pull-right add-hover-help btn-success-help" style="margin-left: 10px;">
            <mat-icon>help_outline</mat-icon> Help
          </button> -->
          <button mat-raised-button class="pull-right add-hover btn-success" (click)="openClaimDialog(null)">
            <mat-icon>person_add</mat-icon> Add Visit Status
          </button>
          <!-- <button mat-raised-button color="primary" style="color: white !important;" class="pull-right filter-hover margin-right-10" (click)="filterToggle = !filterToggle">
            <mat-icon>filter_list</mat-icon> Filter
          </button> -->
        </div>
      </div>
    </div>
    
    
    <div fxLayout="row wrap" class="col-lg-8">
      <div class="table-responsive">
        <table id="example2" class="table table-bordered table-hover">
          <thead class="tbl-head">
            <tr class="tr-grid-header">
              <th>Visit Status</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of tableList">
              <td>{{item.visitStatus}}</td>
              <td class="pad-left inner-screen" style="cursor:pointer">
                <a (click)="item.status = ! item.status" >
                  <span *ngIf="!item.status" style="color:red">Inactive</span>
                  <span *ngIf="item.status" style="color:#1c4f86;">Active</span>
                </a>
              </td>
              <td>
                <a matTooltip="Edit Worklist Status" style="margin-right: 10px; cursor: pointer;font-size:16px!important;color:#0987e8d1" (click)="openClaimDialog(item)">
                  <i class="fa fa-edit"></i>
                </a>
                <a mwlConfirmationPopover
                [popoverTitle]="popoverTitle"
                [popoverMessage]="popoverMessage"
                placement="left"
                (confirm)="deleteClaimStatus()"
                (cancel)="cancelClicked = true" [appendToBody]="true">
                <i style="cursor: pointer;font-size:16px!important;" matTooltip="Delete Worklist Status" class="fa fa-trash red"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>