.fa-file-text-o {
    color: #007ad9;
}

.fa-paperclip {
    color: #007ad9;
}

.fa-file-pdf-o {
    color: red;
}

.minWidthProperty {
    min-width: 130px;
}

.newMarginClass {
    margin-top: 7px!important;
}
.topMarginClass {
    margin-top: 10px!important;
}

.minWidthPropertySubmission {
    min-width: 210px!important;
}
.ClaimReferenceMinWidth {
    min-width: 185px!important;
}
.AttorneyMinWidth {
    min-width: 135px!important;
}
.PatientMinWidth {
    min-width: 125px!important;
}
.CaseNumberMinWidth {
    min-width: 110px!important;
}
.AppoitmentCodeMinWidth{
    min-width: 300px!important;
}
.StatusMinWidth {
    min-width: 200px!important;
}
.SubmissionStatusMinWidth {
    min-width: 240px!important;
}